[dSiPM]
mask_filename=/home/root/config/masks/dSiPM_xMarksTheSpot.cfg

quadrantsEnable = 15
pixelEnable_TC = 0
pixelEnableWOFE_TC 0

# two bit mode on
mode_2bit = 1
set2Bit = 0

frames_before_trg = 0
frames_after_trg = 1

# no LED
auto_trg_enable = 1
auto_trg_spacing = 20
busy_time = 5

# with LED
#led_trg_enable = 1
#led_start_offset = 2
#led_pulse_width = 0
#led_pulse_spacing = 8
#led_num_pulses = 0
#led_frames = 10000
#led_skip_frames = 2999 # 1ms break
