[dSiPM]
mask_filename=/home/root/config/masks/dSiPM_Mask_AllOn.cfg

quadrantsEnable = 15
pixelEnable_TC = 0
pixelEnableWOFE_TC 0

TDC_Q1 = 2
TDC_Q2 = 2
TDC_Q3 = 2
TDC_Q4 = 2

led_trg_enable = 1
frames_before_trg = 0
frames_after_trg = 1

# 0 means 1 clock cycle of 408MHz (2.45ns) for the pulse parameters within a frame
led_start_offset = 2
led_pulse_width = 2
led_pulse_spacing = 8
led_num_pulses = 0

# here 1 means 1 :-)
led_frames = 10000
led_skip_frames = 2999 # 1ms break
