[dSiPM]
mask_filename=/home/root/config/masks/dSiPM_Mask_AllOn.cfg

t0_enable = 1
tlu_trg_enable = 1
frames_before_trg = 0
frames_after_trg = 2

# veto all triggers in the N frames after an accepted trigger
