# reset settings
*RST

# setup channels
:CHANnel1:DISPlay On
:CHANnel2:DISPlay On
:CHANnel3:DISPlay On
:CHANnel4:DISPlay On
:CHANnel1:SCALe 50E-3
:CHANnel2:SCALe 50E-3
:CHANnel3:SCALe 50E-3
:CHANnel4:SCALe 50E-3
:CHANnel1:OFFSet 401E-3
:CHANnel2:OFFSet 355E-3
:CHANnel3:OFFSet 425E-3
:CHANnel4:OFFSet 177E-3

# setup time axis
:TIMebase:SCALe 50E-9
:TIMebase:POSition 100E-9

# trigger setting (OR between 4 channels)
:TRIGger:MODE ADVanced
:TRIGger:ADVanced:MODE PATTern
:TRIGger:ADVanced:PATTern:CONDition OR
:TRIGger:ADVanced:PATTern:LOGic CHANnel1, HIGH
:TRIGger:ADVanced:PATTern:LOGic CHANnel2, HIGH
:TRIGger:ADVanced:PATTern:LOGic CHANnel3, HIGH
:TRIGger:ADVanced:PATTern:LOGic CHANnel4, HIGH
# threshold = ped + 20 mV
:TRIGger:ADVanced:PATTern:THReshold:LEVel CHANnel1, 275E-3
:TRIGger:ADVanced:PATTern:THReshold:LEVel CHANnel2, 265E-3
:TRIGger:ADVanced:PATTern:THReshold:LEVel CHANnel3, 300E-3
:TRIGger:ADVanced:PATTern:THReshold:LEVel CHANnel4, 050E-3
:TRIGger:SWEep TRIGgered

# waveform settings
:WAVeform:STReaming ON
:WAVeform:SEGMented:ALL ON
:WAVeform:BYTEorder LSBFirst
:WAVeform:FORMat WORD
:WAVeform:SOURce CHANnel1
:WAVeform:SOURce CHANnel2
:WAVeform:SOURce CHANnel3
:WAVeform:SOURce CHANnel4


# aquisition mode
:ACQuire:MODE SEGMENTED
:ACQuire:INTerpolate 0
#:ACQuire:SEGMented:COUNt 1
:ACQuire:SEGMented:COUNt 40
:ACQuire:POINts 4000
:ACQuire:SRATe:analog 20e9
