# reset settings
*RST

# setup channels
:CHANnel1:DISPlay On
:CHANnel2:DISPlay On
:CHANnel3:DISPlay On
:CHANnel4:DISPlay On
:CHANnel1:SCALe 50E-3
:CHANnel2:SCALe 50E-3
:CHANnel3:SCALe 50E-3
:CHANnel4:SCALe 50E-3
:CHANnel1:OFFSet 295E-3
:CHANnel2:OFFSet 340E-3
:CHANnel3:OFFSet 250E-3
:CHANnel4:OFFSet 315E-3

# setup time axis
:TIMebase:SCALe 50E-9
:TIMebase:POSition -200E-9

# trigger settings AUX
:TRIGger:SWEep TRIGgered
:TRIGger:MODE EDGE
:TRIGger:EDGE:SLOPe NEGative
:TRIGger:EDGE:SOURce AUX
:TRIGger:LEVel AUX, -0.300

# waveform settings
:WAVeform:STReaming ON
:WAVeform:SEGMented:ALL ON
:WAVeform:BYTEorder LSBFirst
:WAVeform:FORMat WORD
:WAVeform:SOURce CHANnel1
:WAVeform:SOURce CHANnel2
:WAVeform:SOURce CHANnel3
:WAVeform:SOURce CHANnel4

# aquisition mode
:ACQuire:MODE SEGMENTED
:ACQuire:INTerpolate 0
:ACQuire:SEGMented:COUNt 40
:ACQuire:POINts 4000
:ACQuire:SRATe:analog 20e9
